.container {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

mat-expansion-panel {
    margin: 30px 0;
}

mat-form-field {
    margin: 0 20px;
}

.input-field-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 528px) {
    .input-field-container {
        flex-direction: row;
    }
}