<form [formGroup]="scrapperConfigurationForm" (ngSubmit)="submit()">
  <div class="container">
    

    <mat-expansion-panel [expanded]="isExpanded">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Scraping config
          </mat-panel-title>
        </mat-expansion-panel-header>
        
          <div class="input-field-container">
            <mat-form-field>
              <mat-select placeholder="Choose preset" (selectionChange)="presetChange($event.value)">
                <mat-option *ngFor="let preset of presetList" [value]="preset">{{preset}}</mat-option>
              </mat-select>
            </mat-form-field>
            
            <mat-form-field>
              <input matInput required placeholder="URI to scrap" formControlName="uriToScrap">
            </mat-form-field>
        
            <mat-form-field>
              <input matInput required placeholder="Article selector" formControlName="articleSelector">
            </mat-form-field>
        
            <mat-form-field>
              <input matInput required placeholder="Title selector" formControlName="titleSelector">
            </mat-form-field>
        
            <mat-form-field>
              <input matInput required placeholder="Content selector" formControlName="contentSelector">
            </mat-form-field>
        
            <mat-form-field>
              <input matInput placeholder="Author selector" formControlName="authorSelector">
            </mat-form-field>
        
            <mat-form-field>
              <input matInput placeholder="Timestamp selector" formControlName="timestampSelector">
            </mat-form-field>
          </div>
      </mat-expansion-panel>

      <br>
    <button type="submit" [disabled]="!scrapperConfigurationForm.valid" mat-flat-button color="primary">Scrap!</button>
  </div>
</form>