<article>
  <mat-card>
    <mat-card-title>{{articleData.title}}</mat-card-title>
    <mat-card-content><span [innerHTML]="articleData.content | safeHtml"></span></mat-card-content>
    <p *ngIf="articleData.author">{{articleData.author}}</p>
    <p *ngIf="articleData.timestamp">{{articleData.timestamp}}</p>
  </mat-card>
</article>
