.toolbar {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}

app-article {
    margin-top: 15px;
    width: 100%;
}