
<div class="toolbar">
  <mat-toolbar color="primary">AT&T Web Scraper</mat-toolbar>
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="accent"></mat-progress-bar>
</div>

<app-scrapper-configurator></app-scrapper-configurator>

<div class="container">
  <app-article *ngFor="let article of articles" [articleData]="article"></app-article>
</div>

<router-outlet></router-outlet>
